.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  margin-top: 1rem;
  background-color: yellow;
  padding: 1rem;
  font-weight: 600;
}

.button:hover {
  cursor: pointer;
  opacity: 0.8;
}
